<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
<title>Построение пользовательских интерфейсов на основе библиотеки jQuery</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="Gennady A. Samkov" />
<meta name="email" content="smkv@mail.ru" />
<meta name="domain" content="linkexchanger.su" />
<meta name="robots" content="noindex" />
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :all %>

<body>

<%= yield %>

</body>