<br>
<br>
Towns(r): <input type="text" id="towns" class="input" />

<br>
Cases: <div class="input input_div"> <span class='dotted'><%= link_to_remote "Выберите вариант", :url => cases_path, :class => 'none', :id => 'cases_link'%></span></div>
<br>
<div id="cases" class="results cases" style="display:none; position: absolute">
  <div class='corner'></div>
  <div id="cases_results" class="inline">
  </div>
  <div id="cases_man" class="inline">
  </div>
</div>

Classifier: <div class="input input_div"> <span class='dotted'><%= link_to_remote "Выберите вариант", :url => classifier_path, :class => 'none', :id => 'classifier_link'%></span></div>
<div id="classifier" class="results classifier" style="display:none; position: absolute">
  <div class='corner'></div>
  <div id="groups" class="inline">
  </div>
  <div id="subgroups" class="inline">
  </div>
  <div id="categories" class="inline">
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
// --- Автозаполнение ---
$("#towns").autocompleteArray([
'Магадан',
'Магас',
'Магнитогорск',
'Майкоп',
'Майский',
'Макаров',
'Макарьев',
'Макушино',
'Малая Вишера',
'Малгобек',
'Малмыж',
'Малоархангельск',
'Малоярославец',
'Мамадыш',
'Мамоново',
'Мантурово',
'Мариинск',
'Мариинский Посад',
'Маркс',
'Махачкала',
'Мглин',
'Мегион',
'Медвежьегорск',
'Медногорск',
'Медынь',
'Межгорье',
'Междуреченск',
'Мезень',
'Меленки',
'Мелеуз',
'Менделеевск',
'Мензелинск',
'Мещовск',
'Миасс',
'Микунь',
'Миллерово',
'Минеральные Воды',
'Минусинск',
'Миньяр',
'Мирный',
'Михайлов',
'Михайловка',
'Михайловск',
'Мичуринск',
'Могоча',
'Можайск',
'Можга',
'Моздок',
'Мончегорск',
'Морозовск',
'Моршанск',
'Мосальск',
'Москва',
'Московский',
'Муравленко',
'Мураши',
'Мурманск',
'Муром',
'Мценск',
'Мыски',
'Мытищи',
'Мышкин'
],
		{
			delay:10,
			minChars:0,
			matchSubset:1,
			mustMatch:true,
			maxItemsToShow:15
		}
);

$('#cases_input').keydown(function(e){
  lastKeyPressCode = e.keyCode;
  if (((e.keyCode >= 48) && (e.keyCode <= 57)) || ((e.keyCode >= 65) && (e.keyCode <= 90))){

    e.preventDefault();
    //all symbols
    return;
  }
	switch(e.keyCode) {
		case 38: // up
			e.preventDefault();
			moveTownsSelect(-1);
			break;
		case 40: // down
			e.preventDefault();
			moveTownsSelect(1);
			break;
		case 9:  // tab
		case 13: // return
		  selectTownsCurrent();
		  e.preventDefault();
			break;
		default:
  		// e.preventDefault();
			break;
	}
})

});
</script>
<br>
<br>
<br>

<div id="debug">ololo</div>
